# Extract Data
We want to extract the 'state' of the network at each time step. The state of the network is defined by the following variables:
- pressure_value
- base_demand
- demand_value

In [1]:
import pandas as pd

In [6]:
path_rand_demand = "dati/networks/dataset-network-out/NET_0_bd_0_005_h_720_leak_area_0_nodes.csv"
data = pd.read_csv(path_rand_demand, delimiter=";")
columns = list(data.columns)
print("COLUMNS in the dataset: ", columns)
print(f"{len(data['nodeID'].unique())} NODES in the dataset: {data['nodeID'].unique()}")
data.head()

COLUMNS in the dataset:  ['hour', 'nodeID', 'base_demand', 'demand_value', 'head_value', 'pressure_value', 'x_pos', 'y_pos', 'node_type', 'has_leak', 'leak_area_value', 'leak_discharge_value', 'leak_demand_value']
13 nodes in the dataset: [880000 880001 880002 880003 880004 880005 880006 880007 880008 880009
 880010 880011 880012]

,hour,nodeID,base_demand,demand_value,head_value,pressure_value,x_pos,y_pos,node_type,has_leak,leak_area_value,leak_discharge_value,leak_demand_value
0,0:00:00,880000,0.004848,0.000867,129.078246,4.078242,4308452.95,3781906.0,Junction,False,0.0,0.0,0.0
1,0:00:00,880001,0.004199,0.001251,129.076928,5.076912,4307717.23,3781182.0,Junction,False,0.0,0.0,0.0
2,0:00:00,880002,0.002250,-0.000000,129.078357,3.078366,4308600.43,3781645.0,Junction,False,0.0,0.0,0.0
3,0:00:00,880003,0.004689,-0.000000,129.077265,1.077267,4307885.20,3780861.0,Junction,False,0.0,0.0,0.0
4,0:00:00,880004,0.003701,-0.000000,129.077772,1.077774,4307947.41,3780894.0,Junction,False,0.0,0.0,0.0

In [3]:
data['hour'].map(lambda x: x.split(":")[0]).unique()

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89',
       '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100',
       '101', '102', '103', '104', '105', '106', '107', '108', '109',
       '110', '111', '112', '113', '114', '115', '116', '117', '118',
       '119', '120', '121', '122', '123', '124', '125', '126', '127',
       '128', '129', '130', '131', '132', '133', '134', '135', '136',
       '137', '138', '139', '140', '141', '142', '143', '144', '145',
       '146', '147', '148', '149', '150', '151', '152', '153', '154',
       '155', '156', '157', '158', '159', '160', '161', '162', '163',
       '164', '165', '166', '167', '168', '169', '170', '171', '172',
       '173', '174', '175', '176', '177', '178', '179', '180', '181',
       '182', '183', '184', '185', '186', '187', '188', '189', '190',
       '191', '192', '193', '194', '195', '196', '197', '198', '199',
       '200', '201', '202', '203', '204', '205', '206', '207', '208',
       '209', '210', '211', '212', '213', '214', '215', '216', '217',
       '218', '219', '220', '221', '222', '223', '224', '225', '226',
       '227', '228', '229', '230', '231', '232', '233', '234', '235',
       '236', '237', '238', '239', '240', '241', '242', '243', '244',
       '245', '246', '247', '248', '249', '250', '251', '252', '253',
       '254', '255', '256', '257', '258', '259', '260', '261', '262',
       '263', '264', '265', '266', '267', '268', '269', '270', '271',
       '272', '273', '274', '275', '276', '277', '278', '279', '280',
       '281', '282', '283', '284', '285', '286', '287', '288', '289',
       '290', '291', '292', '293', '294', '295', '296', '297', '298',
       '299', '300', '301', '302', '303', '304', '305', '306', '307',
       '308', '309', '310', '311', '312', '313', '314', '315', '316',
       '317', '318', '319', '320', '321', '322', '323', '324', '325',
       '326', '327', '328', '329', '330', '331', '332', '333', '334',
       '335', '336', '337', '338', '339', '340', '341', '342', '343',
       '344', '345', '346', '347', '348', '349', '350', '351', '352',
       '353', '354', '355', '356', '357', '358', '359', '360', '361',
       '362', '363', '364', '365', '366', '367', '368', '369', '370',
       '371', '372', '373', '374', '375', '376', '377', '378', '379',
       '380', '381', '382', '383', '384', '385', '386', '387', '388',
       '389', '390', '391', '392', '393', '394', '395', '396', '397',
       '398', '399', '400', '401', '402', '403', '404', '405', '406',
       '407', '408', '409', '410', '411', '412', '413', '414', '415',
       '416', '417', '418', '419', '420', '421', '422', '423', '424',
       '425', '426', '427', '428', '429', '430', '431', '432', '433',
       '434', '435', '436', '437', '438', '439', '440', '441', '442',
       '443', '444', '445', '446', '447', '448', '449', '450', '451',
       '452', '453', '454', '455', '456', '457', '458', '459', '460',
       '461', '462', '463', '464', '465', '466', '467', '468', '469',
       '470', '471', '472', '473', '474', '475', '476', '477', '478',
       '479', '480', '481', '482', '483', '484', '485', '486', '487',
       '488', '489', '490', '491', '492', '493', '494', '495', '496',
       '497', '498', '499', '500', '501', '502', '503', '504', '505',
       '506', '507', '508', '509', '510', '511', '512', '513', '514',
       '515', '516', '517', '518', '519', '520', '521', '522', '523',
       '524', '525', '526', '527', '528', '529', '530', '531', '532',
       '533', '534', '535', '536', '537', '538', '539', '540', '541',
       '542', '543', '544', '545', '546', '547', '548', '549', '550',
       '551', '552', '553', '554', '555', '556', '557', '558', '559',
       '560', '561', '562', '563', '564', '565', '566', '567', '568',
       '569', '570', '571', '572', '573', '574', '575', '576', '577',
       '578', '579', '580', '581', '582', '583', '584', '585', '586',
       '587', '588', '589', '590', '591', '592', '593', '594', '595',
       '596', '597', '598', '599', '600', '601', '602', '603', '604',
       '605', '606', '607', '608', '609', '610', '611', '612', '613',
       '614', '615', '616', '617', '618', '619', '620', '621', '622',
       '623', '624', '625', '626', '627', '628', '629', '630', '631',
       '632', '633', '634', '635', '636', '637', '638', '639', '640',
       '641', '642', '643', '644', '645', '646', '647', '648', '649',
       '650', '651', '652', '653', '654', '655', '656', '657', '658',
       '659', '660', '661', '662', '663', '664', '665', '666', '667',
       '668', '669', '670', '671', '672', '673', '674', '675', '676',
       '677', '678', '679', '680', '681', '682', '683', '684', '685',
       '686', '687', '688', '689', '690', '691', '692', '693', '694',
       '695', '696', '697', '698', '699', '700', '701', '702', '703',
       '704', '705', '706', '707', '708', '709', '710', '711', '712',
       '713', '714', '715', '716', '717', '718', '719'], dtype=object)

In [4]:
df = data[['hour', 'nodeID', 'pressure_value', 'base_demand', 'demand_value']]
df.columns = ['hour', 'nodeID', 'p', 'b', 'd']
df = df.pivot_table(index='hour', columns='nodeID', values=['p', 'b', 'd'])
df.columns = ['_'.join((col[0], str(col[1]))) for col in df.columns]
df.index = df.index.map(lambda x: int(x.split(":")[0]))
df.sort_index(inplace=True)
df.head()

,b_880000,b_880001,b_880002,b_880003,b_880004,b_880005,b_880006,b_880007,b_880008,b_880009,...,p_880003,p_880004,p_880005,p_880006,p_880007,p_880008,p_880009,p_880010,p_880011,p_880012
hour,,,,,,,,,,,,,,,,,,,,,
0,0.004848,0.004199,0.002250,0.004689,0.003701,0.002040,0.001341,0.002578,0.004318,0.004760,...,1.077267,1.077774,3.079432,5.073970,2.089346,2.076619,2.084041,-3.080648,4.092576,0.0
1,0.001145,0.001529,0.000318,0.000005,0.004973,0.004885,0.000945,0.000108,0.003758,0.002758,...,2.506159,2.506302,4.506773,6.503190,3.518131,3.505721,3.512335,-3.080464,5.521658,0.0
2,0.004169,0.003663,0.003149,0.002765,0.000915,0.003125,0.002784,0.000433,0.002716,0.001469,...,1.159793,1.160470,3.162680,5.147269,2.174552,2.157950,2.168230,-3.080634,4.178399,0.0
3,0.001266,0.004262,0.000741,0.001314,0.004219,0.004595,0.004942,0.001024,0.004139,0.004099,...,0.955383,0.956376,2.959617,4.924084,1.972065,1.951049,1.965521,-3.080668,3.976046,0.0
4,0.001318,0.001740,0.000669,0.004558,0.002984,0.003776,0.001387,0.002647,0.004804,0.001025,...,1.756036,1.756243,3.756923,5.751432,2.763513,2.755369,2.760093,-3.080550,4.765597,0.0

In [25]:
df.to_numpy().reshape(-1, 3, 13).swapaxes(1, 2)[0]

array([[ 4.84838000e-03,  8.67030000e-04,  4.07824187e+00],
       [ 4.19857000e-03,  1.25103000e-03,  5.07691223e+00],
       [ 2.24972000e-03,  0.00000000e+00,  3.07836562e+00],
       [ 4.68926000e-03,  0.00000000e+00,  1.07726671e+00],
       [ 3.70115000e-03,  0.00000000e+00,  1.07777389e+00],
       [ 2.04014000e-03,  0.00000000e+00,  3.07943181e+00],
       [ 1.34067000e-03,  3.99100000e-04,  5.07397010e+00],
       [ 2.57832000e-03,  0.00000000e+00,  2.08934647e+00],
       [ 4.31797000e-03,  0.00000000e+00,  2.07661934e+00],
       [ 4.75999000e-03,  0.00000000e+00,  2.08404060e+00],
       [ 3.42589000e-03,  0.00000000e+00, -3.08064820e+00],
       [ 3.65509000e-03,  6.61920000e-04,  4.09257567e+00],
       [ 0.00000000e+00,  3.17908000e-03,  0.00000000e+00]])